extends ./layouts/usersLayout.pug

block content
  .container
      h1 Usuario:
      .detail
      .keyValue
        strong Id: 
        p= user.id
      .keyValue
        strong Name: 
        p= user.name 
      .keyValue
        strong Email: 
        p= user.email  
      img.image(src= user.image) 
      .keyValue
        strong Rol:  
        p= user.role
      .keyValue
        strong Pais: 
        p= user.country 
      .divButtons
        a.linkButton(href=`/users/update/${user.id}`) Editar:
        a.linkButton(href='/users') Volver:
 
    

      